body {
    margin: 0;
    overflow: hidden;
}

#gameArea {
    width: 100vw;
    height: 100vh;

    background-image: url("images/grass.jpeg");
    background-size: cover;
    background-position: center;

    position: relative;
}

#dragon {
    position: absolute;
    width: 80px;
    height: auto;

    left: 100px;
    top: 300px;
}

#wave {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
}

#health {
    position: absolute;
    top: 40px;
    left: 20px;
    color: red;
}

.enemy {
    position: absolute;
    width: 60px;
}

.fireball {
    position: absolute;
    width: 15px;
    height: 15px;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
}
