body {
    margin: 0;
    overflow: hidden;
}

#gameArea {
    width: 100vw;
    height: 100vh;

    background-image: url("images/grass.png");
    background-size: cover;
    background-position: center;

    position: relative;
}

#player {
    width: 80px; 

    position: absolute;
    left: 100px;
    top: 300px;
}

#score {
    color: white;
    font-size: 30px;

    position: absolute;
    top: 20px;
    left: 20px;
}
